<style>

* {
  margin: 0px;
  padding: 0px;
}

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #D2D8DB;
    font-family:  Arial;
  }


  .topnav a {
    border-top: black solid;
    float: left;
    justify-content: center;
    font-family: courier;
    color: grey;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 23px;
  }

  .topnav a:hover {
    font-size: 1.75em;
    background-color: #AFB4B6;
    color: black;
  }

  .topnav a.active {
    background-color: darkgrey;
    color: white;
  }

  .title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E5ECEC;
    color: black;
    width: 100%;}

  .title-container {background-image: url("https://fastly.syfy.com/sites/syfy/files/styles/1200x680/public/wire/legacy/computers-text-matrix-computer-code.jpg?offset-x=0");
    height: 440px;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;}


  h2 {
    margin: 0px;
    font-family: georgia;
  }

  h1 {
    font-size: 70px;
    color: #ACBCAA;
    font-family: Lucida;
  }

  body {
    background-color: #88B3B3;
  }

</style>
